{
  "openapi": "3.1.0",
  "info": {
    "title": "Logo Lattice API",
    "description": "Programmatic logo generation for Logo Lattice Studio subscribers. Routes under /api/v1/logos share Bearer auth, AI quota, and JSON error shape.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://logolattice.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/logos": {
      "post": {
        "operationId": "generateLogo",
        "summary": "Generate a logo",
        "description": "Generate a logo from a text brief. Default provider is Describe (openrouter): SVG plus cloud project and editUrl. Set provider to svg-paths for editable path SVG without a cloud project.",
        "x-mint": {
          "href": "/api-reference/describe-api/generate-logo"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateLogoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logo generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/DescribeLogoResponse"
                    },
                    {
                      "$ref": "#/components/schemas/SvgPathsLogoResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input, parse error, or project limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Studio subscription required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "No AI credits remaining",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "AI or SVG provider not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/logos/svg-paths": {
      "post": {
        "operationId": "generateSvgPathsLogo",
        "summary": "Generate SVG paths logo",
        "description": "Dedicated SVG paths generation. Same request body as POST /api/v1/logos; provider is ignored. standard costs 1 credit; enhanced costs 2.",
        "x-mint": {
          "href": "/api-reference/describe-api/generate-svg-paths"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateLogoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SVG paths logo generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SvgPathsLogoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or parse error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Studio subscription required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "No AI credits remaining",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "SVG provider not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/logos/usage": {
      "get": {
        "operationId": "getLogoUsage",
        "summary": "Get AI credit usage",
        "description": "Read current AI quota without spending a credit.",
        "x-mint": {
          "href": "/api-reference/describe-api/get-usage"
        },
        "responses": {
          "200": {
            "description": "Usage retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usage"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Studio subscription required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Studio API key with prefix `ll_live_` (shown once when created in Studio → API keys)"
      }
    },
    "schemas": {
      "GenerateLogoRequest": {
        "type": "object",
        "required": ["prompt"],
        "properties": {
          "prompt": {
            "type": "string",
            "minLength": 10,
            "maxLength": 800,
            "description": "Logo brief after trimming (10–800 characters)."
          },
          "provider": {
            "type": "string",
            "enum": ["openrouter", "svg-paths"],
            "default": "openrouter",
            "description": "Generation backend. Only used on POST /api/v1/logos; ignored on /svg-paths."
          },
          "quality": {
            "type": "string",
            "enum": ["standard", "enhanced"],
            "default": "standard",
            "description": "SVG paths only. enhanced costs 2 credits."
          },
          "referenceImageBase64": {
            "type": "string",
            "description": "Base64-encoded reference image (1 byte – 4 MB decoded)."
          },
          "referenceMimeType": {
            "type": "string",
            "enum": ["image/png", "image/jpeg", "image/webp"],
            "description": "Required when referenceImageBase64 is set."
          },
          "brandName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "description": "Optional brand label (1–64 characters after trim)."
          },
          "brandColors": {
            "type": "array",
            "maxItems": 5,
            "items": {
              "type": "string",
              "pattern": "^#?([0-9a-fA-F]{3}|[0-9a-fA-F]{6})$"
            },
            "description": "Up to 5 hex colours (#RGB or #RRGGBB); normalized server-side."
          },
          "referenceColors": {
            "type": "array",
            "maxItems": 5,
            "items": {
              "type": "string",
              "pattern": "^#?([0-9a-fA-F]{3}|[0-9a-fA-F]{6})$"
            },
            "description": "Up to 5 hex colours to emphasize; same rules as brandColors."
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "monthlyUsed": {
            "type": "integer",
            "description": "Generations used this UTC calendar month (free tier)."
          },
          "monthlyLimit": {
            "type": "integer",
            "description": "Free monthly cap (10)."
          },
          "monthlyRemaining": {
            "type": "integer",
            "description": "Free generations left this month."
          },
          "bonusCredits": {
            "type": "integer",
            "description": "Top-up balance (does not expire)."
          },
          "remaining": {
            "type": "integer",
            "description": "Total available: monthlyRemaining + bonusCredits."
          },
          "limit": {
            "type": "integer",
            "deprecated": true,
            "description": "Alias of monthlyLimit."
          },
          "resetsAt": {
            "type": "string",
            "format": "date-time",
            "description": "Start of next UTC month (ISO 8601)."
          }
        }
      },
      "DescribeLogoResponse": {
        "type": "object",
        "properties": {
          "svg": {
            "type": "string",
            "description": "Full SVG document (same idea as Export → Download SVG)."
          },
          "editUrl": {
            "type": "string",
            "format": "uri",
            "description": "Open while signed in to edit the cloud project."
          },
          "projectId": {
            "type": "string",
            "description": "Cloud project ID."
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "SvgPathsLogoResponse": {
        "type": "object",
        "properties": {
          "svg": {
            "type": "string",
            "description": "Editable path SVG."
          },
          "provider": {
            "type": "string",
            "enum": ["svg-paths"],
            "description": "Always svg-paths."
          },
          "quality": {
            "type": "string",
            "enum": ["standard", "enhanced"]
          },
          "credits": {
            "type": "integer",
            "description": "Upstream-reported cost when available."
          },
          "generationId": {
            "type": "string",
            "description": "Persisted generation record ID when available."
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          },
          "details": {
            "type": "object",
            "description": "Zod validation details (e.g. fieldErrors)."
          }
        }
      }
    }
  }
}
